<div class="main">
    <div class="featured-bar">Featured Product
        <div class="product">
            <img class="image" src="../../assets/image1.jpg" alt="product"/>
            <div class="product-details">
                <div class="buy">Add to Basket</div>
                <div class="product-name">{{featuredResult?.name}}</div>
                <div class="product-brand"><span>Brand:</span>{{featuredResult?.brand}}</div>
                <select>
                    <option disabled selected required>Select size</option>
                    <option *ngIf="featuredResult?.size['small'] > 0">Small</option>
                    <option *ngIf="featuredResult?.size['medium'] > 0">Medium</option>
                    <option *ngIf="featuredResult?.size['large'] > 0">Large</option>
                </select>
                <div class="product-description"><span>Description:</span><br /> {{featuredResult?.description}}</div>
                <div class="product-id"><span>Product ID:</span> {{featuredResult?.productid}}</div>
            </div>
        </div>
    </div>
<ng-container *ngFor="let product of results?.Items">
    <ng-template [ngIf]="product['size']['small'] > 0 || product['size']['medium'] > 0 || product['size']['large'] > 0 ">
        <div class="product">
            <img class="image" src="../../assets/image1.jpg" alt="product"/>
            <div class="product-details">
                <div class="buy">Add to Basket</div>
                <div class="product-name">{{product.name}}</div>
                <div class="product-brand"><span>Brand:</span>{{product.brand}}</div>
                <select>
                    <option disabled selected required>Select size</option>
                     <option *ngIf="product['size']['small'] > 0">Small</option>
                     <option *ngIf="product['size']['medium'] > 0">Medium</option>
                     <option *ngIf="product['size']['large'] > 0">Large</option>
                </select>
                <div class="product-description"><span>Description:</span><br /> {{product.description}}</div>
                <div class="product-id"><span>Product ID:</span> {{product.productid}}</div>
            </div>
        </div>
    </ng-template>
</ng-container>
</div>

